<div class="paperscript split">
    <div class="buttons">
        <div class="button run"></div>
    </div>
<script type="text/paperscript" canvas="canvas-<%= ++canvas_id %>">
<%- include ../paperjs/all.js %>
//end-script
