<article class="sidebar">
<h1 class="sidebar-title">Put feedback?</h1>
    <ul class="sidebar-body">
      <li>Your feedback is so valuable</li>
      <li>You can contribute to one of the projects</li>
      <li>These all projects are available at GitHub.</li>
    </ul>
</article><!-- article -->