<title><%= siteTitle %>-<%= pageTitle %></title>
<link rel="stylesheet" href="/static/css/stylesheet1.css">
<link rel="stylesheet" href="/static/css/imagehover.min.css">
<link rel="stylesheet" href="/static/css/grids-min.css">
<link rel="stylesheet" href="/static/css/codeEdit.css">
