<!DOCTYPE html>
<html>
<head>
    <% include ../partials/templates/head.ejs %>
    <% include ../partials/templates/jsdefaults.ejs %>
    <script src="/static/js/nerdamer/nerdamer.core.js"></script>
    <script src="/static/js/nerdamer/Algebra.js"></script>
    <script src="/static/js/nerdamer/Calculus.js"></script>
    <script src="/static/js/nerdamer/Solve.js"></script>
</head>

<body>

<div id="nav">
    <% include ../partials/templates/navigation.ejs %>
</div>
    <article>

        <p>This page is adapted the algorithm from the book Computational Geometry - Algorithms and Applications, 3rd Ed by Berg et. al.  You can see details in chapter 1 example 1.1 An Example: Convex Hulls      </p>

<div class="paperscript split">
<div class="canvas up">
    <canvas width="775px" height="360px" id="canvas-1"></canvas>
</div>
<div class="buttons">
<div class="button run">Source</div>
</div>

<script type="text/paperscript" canvas="canvas-1">
<% include ../partials/paperjs/all.js %>

//end-script
////////////////////// Convex Hull Functions  //////////////////////////
<% include ../partials/paperjs/convexHull.js %>

var points = Points.createRandom(7);

var chPoints = convexHull(points); // convex Hull points is stored here.
Points.drawLines(chPoints);

</script>

</div>
</article>
<% include ../partials/paperjs/pre_defined_polygons.svg %>
    </body>
</html>

