<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %> 
    <link rel="stylesheet" href="/static/css/documentation.css">
    <% include partials/templates/jsdefaults.ejs %> 

</head>
<body>

<div id="nav">
    <% include partials/templates/navigation.ejs %>
</div>
    
<div id="doc_nav">
    <% include partials/templates/doc_navigation.ejs %>
</div>



<article>
    <% canvas_id=0 // initialize canvas public variable %>
    
    <h1><%= pageTitle %>  </h1>
    <% var deneme = myConcat(pageText); %>

    <% var code = pageCode; %>
    <% function put_code(str){ %>
    <%     var output = str, re_start = new RegExp('put_code\\([0-9]+\\)','gi')// 'gi' is  global match and ignore case %>
    <%     re_start.exec(str); %>
    <%     if(re_start.lastIndex && typeof code != 'undefined'){ %>
    <%         var no = str.substring(re_start.lastIndex-2, re_start.lastIndex - 1); %>
    <%-         str.slice(0, re_start.lastIndex-11)%>
    <%          include partials/content/documentationPaperStart.ejs %><%- code[no].join('') %>
    <%          include partials/content/documentationPaperEnd.ejs %>
    <%-         str.slice(re_start.lastIndex)%>
    <%         var replace = '';  %>
    <%         output = [str.slice(0, re_start.lastIndex-11), replace, str.slice(re_start.lastIndex)].join('');    %>
    <%     } %>
    <%     return output;  %>
    <% } %>

    <% deneme = put_code(deneme) %>
    <% deneme = put_code(deneme) %>


</article>    

</body>
        <% include partials/paperjs/pre_defined_polygons.svg %>
</html>

<script>
    document.getElementById('Documentation').className = "active";
</script>
<script src="/reload/reload.js"></script>
