<!DOCTYPE html>
<html>
<head><% include partials/templates/head.ejs %> </head>
<body>

<div id="nav">
    <% include partials/templates/navigation.ejs %>
</div>
    
    <article>

        <% linkData.example_links.forEach(function(item) { %>

            <div class="thumbnail">
                <p class="big"><%=item.name%></p>
                    <a href="<%=item.link%>">    <img src="/static/<%=item.image%>">   </a>
                <p class="small" ><%=item.description%></p>
            </div>

        <% }); %>

    </article>    

</body>
</html>

<script src="/reload/reload.js"></script>
