<!DOCTYPE html>
<html>
<head><% include partials/templates/head.ejs %> </head>
<body>

<div id="nav">
    <% include partials/templates/navigation.ejs %>
</div>
    
    <article>

        <p>These all examples are interactive.
        Some of them can be modified and re-run again by clicking upper right part of the code part.
        Visit <a href="/examples/convexHull">Convex Hull</a> and <a href="/examples/smallestEnclosingDisk">Smallest Enclosing Circle</a> first. They are well documented examples for modifying.</p>

        <% linkData.example_links.forEach(function(item) { %>

            <div class="thumbnail">
                <p class="big"><%=item.name%></p>
                    <a href="<%=item.link%>">    <img src="/static/<%=item.image%>">   </a>
                <p class="small" ><%=item.description%></p>
            </div>

        <% }); %>

    </article>    

</body>
</html>

<script src="/reload/reload.js"></script>
