<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/headpaper.ejs %>
    <link rel="stylesheet" href="/static/css/playground.css">
    <% include partials/templates/jsdefaults.ejs %> 
</head>
    
<body>

<div id="nav">
<% include partials/templates/navigation.ejs %>
</div>
    
    <article>

<!--        <div class="paperscript">-->        
<div class="paperscript split">  
    
<div class="canvas up">
    <div class="left-div">
        <canvas width="975px" height="420px" id="canvas-1"></canvas>
    </div>
    <div class = "right-div" id="console">
    </div>
</div>
    
    
<div class="buttons">
<div class="button run">Source</div>
</div>
<script type="text/paperscript" canvas="canvas-1">


var colors = ['red', 'blue', 'yellow', 'magenta', 'green'];
var path = null, polPoint = null
polygon = null;
var hitOptions = {segments: true, fill: true, stroke: true, tolerance: 10};

function onMouseMove(event) { 
	project.activeLayer.selected = false;
    //if (event.item)
      //  event.item.bringToFront();
}

function onMouseDown(event) { 

    path = polPoint =  null;
    
	var hitResult = project.hitTest(event.point, hitOptions);
    if (hitResult){                       //console.log(event.item.name)
            
        if(event.item.name.startsWith('path_polygon'))
            path = hitResult.item;
        else if (event.item.name.startsWith('p'))
            polPoint = event.item;
    }
}

function onMouseDrag(event) {     
	if (path)
        polygon.changePosition(event.delta * [1, -1]); // mirroring on y-axis, since it is changed on active layer
    else if (polPoint)
        polygon.changePosition2(polPoint, event.delta * [1, -1]);
 }

<% include partials/paperjs/all.js %>

<% include partials/paperjs/codeInserting.js %>
<% include partials/paperjs/clearPrints.js %>

//end-script
<% include partials/paperjs/sampleCodes/code1.js %>

</script>

</div>
        
</article>    

    <% include partials/paperjs/pre_defined_polygons.svg %>
    </body>
</html>

<script src="/reload/reload.js"></script>
